body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 800;
    border-radius: 8px;
    border: none;
}

.title_image {
    height: 200px;
    width: auto;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    flex: 1;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
}

.links {
    display: flex;
    justify-content: space-between;
}

.link_numbers {
    display: flex;
    font-size: 18px;
    gap: 20px;
}

.title {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.title_info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-wrap: wrap;
}

.title_sum {
    font-size: 48px;
    font-weight: 900;
    text-wrap: wrap;
}

.title_description {
    font-size: 18px;
}



.Information {
    display: flex;
    flex: 1;
}

.More_info {
    display: flex;
    background-color: #E5E7EB;
    flex: 1;

}

.Signup_bar {
    display: flex;
    flex: 1;
}

footer {
    margin-top: auto;
    background-color: #1F2937;
    color: white;
    padding: 16px;
}

.foot_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

